@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #020501;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.section {
  height: 100%;
}
